*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/Main.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header1{
        min-height: 30vh;
    }
}

.header2{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/main\ 5.avif);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header2{
        min-height: 30vh;
    }
}

.header3{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/DWC.jpg);
    box-shadow: 1px 1px #F5EED0;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header3{
        min-height: 30vh;

    }
}

.header4{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/leopard\ main3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header4{
        min-height: 30vh;
    }
}

.header5{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/main5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header5{
        min-height: 30vh;
    }
}

.nav-sec{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-sec img{
    width: 150px;
}

.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.navlinks ul li::after{
    content: '';
    width: 0%;  
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.nav-sec .bx{
    display:none

}

@media(max-width: 700px){
    .nav-sec{
        overflow-x: hidden;
    }
    .nav-sec img{
        width: 50px;
    }
    
    .textbox h1{
        font-size: 20px;
    }

    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }

    .nav-sec .bx{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}

@media(min-width: 701px) and (max-width: 1024px){
    .nav-sec{
        overflow-x: hidden;
    }
    .nav-sec img{
        width: 100px;
    }
    
    .textbox h1{
        font-size: 40px;
    }

    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }

    .nav-sec .bx{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}

footer{
    background-color: #111;
}

.footcon{
    width: 100%;
    padding: 70px 30px 20px;
}

.social{
    display: flex;
    justify-content: center;
}

.social a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social a:hover i{
    color: white;
    transition: 0.5s;
}

.footnav{
    margin: 30px 0;
}

.footnav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footnav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footnav ul li a:hover{
    opacity: 1;
}

.footbot{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footbot p{
    color: white;
}

.design{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footnav ul{
        flex-direction: column;
        text-align: center;
    }

    .footnav ul li a{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* Home page */

.importantrow{
    display: flex;
    justify-content: space-between;
}

.important{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.importantcol{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.importantcol img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.importantcol p{
    padding: 0;

}

.importantcol h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.importantcol li{
    margin-left: 15px;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .importantrow{
        flex-direction: column;
    }
}

.mostvisit{
    width: 80%;
    margin: auto;
    text-align: center;
    /* padding-top: 10px; */
    padding-bottom: 50px;
}

.mostvisit h1{
    padding-bottom: 30px;
}

.mvrow{
    display: flex;
    justify-content: space-between;
}

.mvcol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.mvcol img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}

.mvlayer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.mvlayer:hover{
    backdrop-filter: blur(10px);;
}

.mvlayer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.mvlayer:hover h3{
    bottom: 49%;
    opacity: 1;
}

@media(max-width: 700px){
    .mvrow{
        flex-direction: column;
    }
}

/* Introduction to wild life page */

.secondwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
}

.secondwrapper{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.secondwrapper iframe{
    height: 30vh;
    width: 30vw;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 10px 10px 6px #bfbfbf
}

.secondwrap .secondwrapper .secondtextbox1{
    display: flex;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.secondtextbox1 h3{
    font-size: 30px;
}

@media(max-width: 700px){
    .secondwrapper{
        align-items: center;
    }

    .secondwrapper iframe{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .secondwrap .secondwrapper .secondtextbox1{
        display: block;
        height: 100%;
    }

    .secondtextbox1{
        text-align: center;
        padding-top: 0px;
    }

    .heading{
        width: 90%;
    }
}

.placeimgrow{
    display: flex;
    justify-content: space-between;
}

.placeimg{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.placeimgcol{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.placeimgcol img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.placeimgcol p{
    padding: 0;

}

.placeimgcol h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .placeimgrow{
        flex-direction: column;
    }
}

.tableheader{
    display: flex;
    justify-content: center;
}

.tableheader1{
    text-align: center;
    width: 80%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.tablesection{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    height: 1150px;
    overflow: auto;
}

table{
    width: 80%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

td img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px;
}

@media(max-width: 700px){
    .tableheader{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: rgb(240, 240, 240);
    }
    
    .tablesection{
        display: block;
        height: 1150px;
        overflow: auto;
    }
    
    table{
        width: 100%;
        table-layout: fixed;
        min-width: 1000px;
        border-collapse: collapse;
    }
    
    thead th{
        position: sticky;
        top: 0;
        background-color: #f6f9fc;
        color: #8493a5;
        font-size: 15px;
    }
    
    th, td{
        border-bottom: 1px solid #dddddd;
        padding: 10px 20px;
        word-break: break-all;
        text-align: center;
    }
    
    td img{
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
}

/* Department of wildlife conservation page */

.thirdwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
}

.thirdwrapper{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.thirdwrapper iframe{
    height: 30vh;
    width: 30vw;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin-left: 15px;
}

.thirdwrap .thirdwrapper .thirdtextbox1{
    display: flex;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.thirdtextbox1 h3{
    font-size: 30px;
}

@media(max-width: 700px){
    .thirdwrapper iframe{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .thirdwrap .thirdwrapper .thirdtextbox1{
        display: block;
        height: 100%;
    }

    .thirdtextbox1{
        text-align: center;
        padding-top: 0px;
    }

    .heading{
        width: 90%;
    }
}

.imggal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.imgrow{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imggal h1{
    padding-bottom: 20px;
}

.imgcol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.imgcol img{
    height: 30vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

.imglayer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.imglayer:hover{
    backdrop-filter: blur(10px);
}

.imglayer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    bottom: 49%;
}

/* .imglayer:hover h3{
    bottom: 49%;
    opacity: 1;
} */


@media(max-width: 700px){
    .imgrow{
        flex-direction: column;
    }

    .imglayer p{
        width: 100%;
        font-weight: 500;
        color: #fff;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 0;
        transition: 0.5s;
    }
    
    .imglayer:hover p{
        top: 50%;
        opacity: 1;
    }
}

/* Sri Lankan Leopard page */
.fol{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}



.fourthwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
    column-gap: 30px;
}

.fourthwrapper{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.fourthwrapper img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.fourthwrap .fourthwrapper .fourthtextbox1{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourthtextbox1 h3{
    font-size: 30px;
}

@media(max-width: 700px){
    .fourthwrapper{
        align-items: center;
        overflow-x: hidden;
    }

    .fourthwrapper img{
        float: none;
        max-width: 100%;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .fourthwrap .fourthwrapper .fourthtextbox1{
        display: block;
        height: 100%;
    }

    .fourthtextbox1{
        padding-top: 0px;
        text-align: center;
    }
}

.threatimg{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.threatimg2 img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 10px;
}

.importantrow{
    display: flex;
    justify-content: space-between;
}

.important{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.importantcol{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.importantcol img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.importantcol p{
    padding: 0;

}

.importantcol h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width: 700px){
    .importantrow{
        flex-direction: column;
    }
}



.fourthwrap3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
}

.fourthwrapper3{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.fourthwrapper3 img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.fourthwrap3 .fourthwrapper3 .fourthtextbox3{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourthwrap3 .fourthwrapper3 .fourthtextbox3 h3{
    display: flex;
    height: 7vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.fourthtextbox3 h3{
    font-size: 30px;
}

/* Animals in Sri Lanka page */


.heading{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-family: 'Kurale', serif;
    font-size: 40px;
    font-weight: 600;
}

.bullet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.point{
    list-style-type: disc;
    width: 78vw;
    text-align: left;
    padding-top: 50px;
}

.bullet ul li {
    width: fit-content;
}

.bullet ul a{
    color: #000;
    text-decoration: none;
}


.fifthwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
}

.fifthwrapper{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.fifthwrapper img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

h3{
    font-family: 'Kurale', serif;
    font-size: 30px;
}

p{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
    top: 100px;
}

.fifthwrap .fifthwrapper .fifthtextbox1{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.fifthtextbox1 h3{
    font-size: 30px;
}

@media(max-width: 700px){

    .fifthwrapper img{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .fifthwrap .fifthwrapper .fifthtextbox1{
        display: block;
        height: 100%;
    }

    .fifthtextbox1{
        text-align: center;
        padding-top: 0px;
    }

    .heading{
        width: 90%;
    }
}




.fifthwrap2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
}

.fifthwrapper2{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.fifthwrapper2 img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.fifthwrap2 .fifthwrapper2 .fifthtextbox2{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.fifthtextbox2 h3{
    font-size: 30px;
}

@media(max-width: 700px){
    .fifthwrapper2{
        align-items: center;
        overflow-x: hidden;
    }

    .fifthwrapper2 img{
        float: none;
        max-width: 100%;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .fifthwrap2 .fifthwrapper2 .fifthtextbox2{
        display: block;
        height: 100%;
    }

    .fifthtextbox2{
        padding-top: 0px;
        text-align: center;
    }

    .heading{
        width: 90%;
    }
}


.natpark{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.natpark h1{
    padding-bottom: 30px;
}

.natparkrow{
    display: flex;
    justify-content: space-between;
}

.natparkcol{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.natparkcol img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
}

.natparklayer{
    background: transparent;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    transition: 0.5s;
}

.natparklayer:hover{
    cursor: pointer;
}

.natparklayer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    bottom: 49%;
}

@media(max-width: 700px){
    .natparkrow{
        flex-direction: column;
    }
}

#editButton{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

