*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header1{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(Images/seven\ 3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

@media(max-width:700px){
    .header1{
        min-height: 30vh;
    }
}

.nav-sec{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-sec img{
    width: 150px;
}

.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.navlinks ul li::after{
    content: '';
    width: 0%;  
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.nav-sec .bx{
    display:none

}

@media(max-width: 700px){
    .nav-sec{
        overflow-x: hidden;
    }
    .nav-sec img{
        width: 50px;
    }
    
    .textbox h1{
        font-size: 20px;
    }

    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }

    .nav-sec .bx{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}

@media(min-width: 701px) and (max-width: 1024px){
    .nav-sec{
        overflow-x: hidden;
    }
    .nav-sec img{
        width: 100px;
    }
    
    .textbox h1{
        font-size: 40px;
    }

    .navlinks ul li{
        display: block;
    }

    .navlinks{
        position: absolute;
        background-color: transparent;
        backdrop-filter: blur(10px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.7s;
    }

    .nav-sec .bx{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}

footer{
    background-color: #111;
}

.footcon{
    width: 100%;
    padding: 70px 30px 20px;
}

.social{
    display: flex;
    justify-content: center;
}

.social a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social a:hover i{
    color: white;
    transition: 0.5s;
}

.footnav{
    margin: 30px 0;
}

.footnav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footnav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footnav ul li a:hover{
    opacity: 1;
}

.footbot{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footbot p{
    color: white;
}

.design{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footnav ul{
        flex-direction: column;
        text-align: center;
    }

    .footnav ul li a{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}


h1{
    font-family: 'Kurale', serif;
    font-size: 40px;
    font-weight: 600;
}

h3{
    font-family: 'Kurale', serif;
    font-size: 30px;
}

p{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
    top: 100px;
}

.lasthead1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}


.sixthrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
}

.sixth{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.sixthcol1{
    margin-bottom: 50px;
}

.sixthcol1 img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.sixth .sixthcol1 .sixthtextbox1{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


@media(max-width: 700px){
    .sixthcol1 img{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }


    .sixth .sixthcol1 .sixthtextbox1{
        text-align: center;
        padding-top: 0px;
        display: block;
        height: 100%;
    }
}

.sixthcol2 img{
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    float: left;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 10px 10px 6px #bfbfbf;
}

.sixth .sixthcol2 .sixthtextbox2{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

@media(max-width: 700px){
    .sixthcol2 img{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }


    .sixth .sixthcol2 .sixthtextbox2{
        text-align: center;
        padding-top: 0px;
        display: block;
        height: 100%;
    }

}

.sixthwrap{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    padding-top: 0px;
    padding-bottom: 50px;
}

.sixthwrapper{
    margin: 25px auto;
    width: 80%;
    border-radius: 10px;
}

.sixthwrapper iframe{
    height: 40vh;
    width: 100%;
    object-fit: cover;
    float: right;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 10px 10px 6px #bfbfbf
}

.sixthwrap .sixthwrapper .sixthtextbox1{
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

.sixthtextbox1 h3{
    font-size: 30px;
}

@media(max-width: 700px){
    .sixthwrapper{
        align-items: center;
    }

    .sixthwrapper iframe{
        float: none;
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .sixthwrap .sixthwrapper .sixthtextbox1{
        display: block;
        height: 100%;
    }

    .sixthtextbox1{
        text-align: center;
        padding-top: 0px;
    }
}

#editButton{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}